*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: "S-CoreDream-4Regular";
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  border: none;
  outline: none;
}

@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 최상단 래퍼 */
.wrapper{
  min-width: 1420px;
  overflow: hidden;
}


/* 

  로고
  네비

*/


.navLogo{
  position: absolute;
  width: 160px;
  height: 40px;
  left: 0;
  top: 20px;
}

.nav{
  background-image: url('../img/nav_scroll.png');
  background-position: top center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  min-width: 1420px;
  max-width: 100%;
  height: 80px;
}
.nav_img{
  height: 80px;
}
.main_nav_ul{
  position: absolute;
  top: 16px;
  right: 0;
  width: 512px;
  height: 48px;
}
.main_nav_li{
  cursor: pointer;
  position: absolute;
  top: 0;
}
.main_nav_li:nth-child(1){
  left: 0;
  width: 98px;
  height: 48px;
}
.main_nav_li:nth-child(2){
  left: 148px;
  width: 70px;
  height: 48px;
}
.main_nav_li:nth-child(3){
  left: 278px;
  width: 36px;
  height: 48px;
}
.main_nav_li:nth-child(4){
  left: 371px;
  width: 140px;
  height: 48px;
}
.nav_btn{
  width: 182px; 
  height: 137px;
  position: absolute;
  top: 50px;
  left: -20px;
  display: none;
  opacity: 0;
  background-image: url("../img/nav_apply.png");
}
.absoluteCenter{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1282px;
}
.navWrapper{
  top: 0;
  height: 80px;
}
.footer{
  background-image: url("../img/footer.png");
  background-position: top center;
  position: relative;
  width: 100%;
  min-width: 1420px;
  max-width: 100%;
  height: 834px;
}
.footerWrapper{
  top: 0;
  height: 834px;
}
.footerWrapper > *{
  position: absolute;
}
#main_go_apply{
  top: 255px;
  left: 122px;
  width: 200px;
  height: 58px;
}
#privacy_agree{
  top: 678px;
  left: 198px;
  width: 105px;
  height: 15px;
}
#pay_agree{
  top: 678px;
  left: 324px;
  width: 167px;
  height: 15px;
}
#asset_agree{
  top: 712px;
  left: 198px;
  width: 273px;
  height: 15px;
}
#shoot_agree{
  top: 712px;
  left: 505px;
  width: 142px;
  height: 15px;
}
.sns{
  top: 538px;
  right: 407px;
  width: 136px;
  height: 40px;
}
.sns_li{
  width: 30px;
  height: 30px;
  top: 12px;
  position: absolute;
}
#kakaotalk{
  left: 0;
}
#youtube{
  left: 43px;
}
#instagram{
  left: 86px;
}
#info_PDF{
  top: 598px;
  right: 407px;
  width: 136px;
  height: 40px;
}
#apply_PDF{
  top: 598px;
  right: 263px;
  width: 136px;
  height: 40px;
}
.shoot_terms_img,.asset_terms_img{
  margin-bottom: 50px;
}