@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700&display=swap');
/* font-family: 'Gothic A1', sans-serif; */

.wrapper * {
    font-family: 'Gothic A1', sans-serif;
}
.wrapper {
    min-width: 1790px;
    max-width: 1920px;
}

.visual {
    position: relative;
    height: 537px;
    background: #f58220;
}

.bgTxt1 {
    position: absolute;
    left: 860px;
    top: -100px;
}
.bgTxt2 {
    position: absolute;
    right: 130px;
    top: 215px;
}

.titBox {
    position: absolute;
    left: 368px;
    top: 52px;
}
.titBox > img {
    display: block;
}
.titBox .tit1 {
    margin-bottom: 50px;
}
.titBox .app {
    margin-top: 60px;
    width: 200px;
    height: 61px;
}

.swiper-container {
    position: absolute;
    right: 0;
    top: -27px;
    width: 800px;
}

.about {
    height: 915px;
    margin: 0 0 0 370px;
}
.about p {
    padding: 200px 0 0 0;
    font-size: 40px;
    font-weight: 500;
    color: #333;
}
.about p > img {
    margin-bottom: -8px;
}
.about .imgBox {
    position: relative;
    margin: 62px 0 0 60px;
}
.about .imgBox .img {
    margin-right: 70px;
}
.about .imgBox .img2,
.about .imgBox .img3 {
    margin-bottom: 33px;
}
.about .imgBox .arr {
    position: absolute;
    top: 150px;
}
.about .imgBox .arr1 {
    left: 375px;
}
.about .imgBox .arr2 {
    left: 820px;
}
.about .txt {
    padding: 82px 0 0 60px;
}